* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid darkslateblue;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
